@use '../../variables' as *;
@use '../../mixins' as *;

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex-grow: 1;
    min-height: calc(100vh - var(--w-header-height-desktop) - var(--w-spacing-lg));
    padding-top: calc(var(--w-header-height-desktop) + var(--w-spacing-lg));
    padding-bottom: var(--w-spacing-lg);

    @include breakpoint(tablet-and-below) {
      padding-top: calc(var(--w-header-height-mobile) + var(--w-spacing-md));
      min-height: calc(100vh - var(--w-header-height-mobile) - var(--w-spacing-md));
    }
  }
}