@use '../variables' as *;
@use '../mixins' as *;

.skeleton {
  background-color: var(--w-background-color-dark);
  background-repeat: no-repeat;
  display: inline-block;
  @include shimmer-animation;
  border-radius: var(--w-border-radius);
}

.movie-watch-page-skeleton {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--w-spacing-lg);
  padding: var(--w-spacing-lg);
  padding-top: calc(var(--w-header-height-desktop) + var(--w-spacing-lg));
  max-width: var(--w-max-width);
  margin: 0 auto;

  @include breakpoint(tablet-and-below) {
    grid-template-columns: 1fr;
    padding-top: calc(var(--w-header-height-mobile) + var(--w-spacing-md));
    padding: var(--w-spacing-md);
  }

  .main-content-skeleton {
    display: flex;
    flex-direction: column;
    gap: var(--w-spacing-lg);
  }

  .skeleton-player {
    width: 100%;
    padding-top: 56.25%;
    border-radius: var(--w-border-radius-lg);
  }

  .info-skeleton {
    display: flex;
    flex-direction: column;
    gap: var(--w-spacing-sm);
  }

  .skeleton-text {
    height: 20px;
  }

  .skeleton-title {
    width: 70%;
    height: 30px;
  }

  .skeleton-subtitle {
    width: 40%;
  }

  .sidebar-skeleton {
    display: flex;
    flex-direction: column;
    gap: var(--w-spacing-md);
    background-color: var(--w-background-color-light);
    padding: var(--w-spacing-md);
    border-radius: var(--w-border-radius-lg);
  }

  .skeleton-sidebar-title {
    width: 50%;
    height: 24px;
  }

  .episode-list-skeleton {
    display: flex;
    flex-direction: column;
    gap: var(--w-spacing-sm);
  }

  .skeleton-episode-item {
    width: 100%;
    height: 40px;
  }
}

// .movie-card-skeleton {
//   &__poster {
//     width: 100%;
//     padding-top: 150%;
//     border-radius: var(--w-border-radius-lg);
//     animation: pulse-bg 1.5s infinite ease-in-out;
//   }

//   &__info {
//     padding-top: var(--w-spacing-sm);
//   }

//   &__title {
//     height: 20px;
//     width: 80%;
//     margin-bottom: var(--w-spacing-xs);
//     border-radius: var(--w-border-radius);
//     animation: pulse-bg 1.5s infinite ease-in-out;
//   }

//   &__meta {
//     height: 16px;
//     width: 50%;
//     border-radius: var(--w-border-radius);
//     animation: pulse-bg 1.5s infinite ease-in-out;
//   }
// }
